{% extends 'base.html.twig' %}
{% block title %}Conditions Générales de Vente
{% endblock %}
{% block body %}
	<div class="container mt-7">
		<div class="row">
			<h1 class="mt-6 mb-10 text-center title col-12">CONDITIONS GÉNÉRALES DE VENTE</h1>

			<div class="col-md-12">
				<div class="legal-article mb-4">
					<h2 class="article-title">Article 1: Préambule</h2>
					<p class="article-content">
						Les présentes Conditions Générales de Vente (CGV) s'appliquent à toutes les prestations de services de création de sites web fournies par [Nom de votre entreprise ou votre nom], freelance, dont le siège est situé [adresse complète] (ci-après dénommé "le Prestataire"), au Client, qu'il soit une personne physique ou morale (ci-après dénommé "le Client"). Toute commande de prestations implique l'acceptation sans réserve des présentes CGV.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 2: Objet</h2>
					<p class="article-content">
						Les CGV définissent les termes et conditions de la vente des prestations de création de sites web proposées par le Prestataire. Elles s'appliquent à toutes les commandes et prestations réalisées par le Prestataire.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 3: Description des Prestations</h2>
					<p class="article-content">
						Le Prestataire propose des services de création, développement, et maintenance de sites web. Les prestations sont définies dans un devis ou contrat spécifique, incluant la description des services, les délais de réalisation, et le tarif applicable.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 4: Devis et Commande</h2>
					<p class="article-content">
						<b>1. Devis :</b>
						Un devis détaillé est fourni au Client avant la confirmation de la commande. Le devis précise le périmètre des prestations, les coûts, et les délais de livraison.<br>
						<b>2. Commande :</b>
						La commande est validée lorsque le Client accepte le devis et les présentes CGV par signature du devis ou en envoyant une confirmation écrite. Le Prestataire se réserve le droit de refuser toute commande pour des raisons légitimes.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 5: Tarifs et Modalités de Paiement</h2>
					<p class="article-content">
						<b>1. Tarifs :</b>
						Les tarifs des prestations sont ceux indiqués dans le devis ou contrat. Le Prestataire se réserve le droit de modifier ses tarifs à tout moment, mais les prix applicables seront ceux en vigueur au moment de la commande.<br>
						<b>2. Modalités de Paiement:</b>
						Le paiement se fait selon les modalités précisées dans le devis ou contrat, généralement par [modes de paiement acceptés, par exemple, virement bancaire, PayPal]. Le paiement peut être échelonné selon les étapes de réalisation convenues.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 6 : Délais de Réalisation</h2>
					<p class="article-content">
						Les délais de réalisation des prestations sont indiqués dans le devis ou contrat. Ces délais sont donnés à titre indicatif et peuvent être modifiés en cas de modifications demandées par le Client ou pour des raisons indépendantes de la volonté du Prestataire.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 7 : Obligations du Client</h2>
					<p class="article-content">
						Le Client s'engage à fournir toutes les informations nécessaires à la bonne exécution des prestations. Le Client doit également collaborer de manière proactive avec le Prestataire, en fournissant les éléments requis et en répondant aux demandes dans des délais raisonnables.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 8 : Propriété Intellectuelle</h2>
					<p class="article-content">
						<b>Droits d'Utilisation:</b>
						Le Prestataire conserve la propriété intellectuelle de tous les travaux réalisés jusqu'au paiement intégral des prestations. Une fois le paiement effectué, le Client obtient un droit d'utilisation non exclusif et non transférable des créations.<br>
						<b>Réutilisation:</b>
						Le Prestataire se réserve le droit de réutiliser les éléments créés à des fins de promotion de ses services, sauf accord contraire du Client.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 9 : Confidentialité</h2>
					<p class="article-content">
						Les parties s'engagent à maintenir la confidentialité des informations échangées dans le cadre des prestations. Cette obligation de confidentialité reste en vigueur après la fin des prestations.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 10 : Révision et Modifications</h2>
					<p class="article-content">
						Les prestations peuvent faire l'objet de révisions ou modifications sur demande du Client, à condition que celles-ci soient notifiées au Prestataire dans des délais raisonnables. Les modifications demandées peuvent entraîner des frais supplémentaires et un allongement des délais de réalisation.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 11 : Annulation et Résiliation</h2>
					<p class="article-content">
						<b>Annulation:</b>
						En cas d'annulation de la commande par le Client avant le début des prestations, des frais d'annulation peuvent être appliqués, tels que définis dans le devis ou contrat.<br>
						<b>Résiliation:</b>
						En cas de non-respect des obligations par l'une des parties, le contrat peut être résilié de plein droit, après mise en demeure restée sans effet pendant [nombre de jours] jours.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 12 : Garantie</h2>
					<p class="article-content">
						Le Prestataire s'engage à réaliser les prestations conformément aux spécifications du devis ou contrat. En cas de défaut constaté dans un délai de [nombre de jours, généralement 30] jours suivant la livraison, le Prestataire s'engage à corriger les erreurs sans frais supplémentaires pour le Client.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 13 : Responsabilité</h2>
					<p class="article-content">
						Le Prestataire ne pourra être tenu responsable des dommages indirects ou immatériels, tels que les pertes de profits, données, ou autres préjudices subis par le Client du fait de l'utilisation des prestations. La responsabilité du Prestataire est limitée au montant total payé par le Client pour les prestations.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 14 : Données Personnelles</h2>
					<p class="article-content">
						Les données personnelles collectées lors de la commande sont utilisées uniquement dans le cadre de l'exécution des prestations. Le Client peut consulter la [Politique de Confidentialité] du Prestataire pour plus d'informations sur la gestion des données personnelles.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 15 : Litiges et Droit Applicable</h2>
					<p class="article-content">
						Les présentes CGV sont régies par le droit [nom du pays]. En cas de litige, les tribunaux compétents seront ceux du ressort du siège du Prestataire, sauf disposition légale impérative contraire.
					</p>
				</div>

				<div class="legal-article mb-4">
					<h2 class="article-title">Article 16 : Modifications des CGV</h2>
					<p class="article-content">
						Le Prestataire se réserve le droit de modifier les présentes CGV à tout moment. Les modifications entreront en vigueur dès leur publication sur le Site ou notification au Client.
					</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
