{% extends 'base.html.twig' %}
{% block title %}Politique de confidentialité - Caméléon Solutions
{% endblock %}

{% block body %}
	<body id="privacy-policy">
		<div class="container-fluid mt-5">
			<div class="row">
				<div class="col-12 col-md-10 col-lg-8 mx-auto">
					<h1 class="mt-4 mb-4 text-center">POLITIQUE DE CONFIDENTIALITÉ</h1>

					<div class="border rounded p-4 mb-4">
						<h2>Introduction</h2>
						<p>
							La présente politique de confidentialité décrit comment Caméléon Solutions (ci-après "nous", "notre" ou "nos") collecte, utilise, conserve et protège les informations personnelles que vous nous fournissez lorsque vous utilisez notre site web [URL de votre site web] (ci-après "le Site"). Nous nous engageons à protéger votre vie privée et à assurer la sécurité de vos données personnelles.
						</p>
					</div>

					<div class="border rounded p-4 mb-4">
						<h2>1. Informations que Nous Collectons</h2>
						<p>
							Nous pouvons collecter les types d'informations suivants :
							<ul class="custom-ul">
								<li>Informations personnelles : Nom, adresse e-mail, numéro de téléphone, adresse postale, etc., que vous fournissez lorsque vous nous contactez ou lorsque vous vous inscrivez à notre newsletter.</li>
								<li>Informations de connexion : Adresse IP, type de navigateur, système d'exploitation, et informations de connexion lorsque vous accédez à notre Site.</li>
								<li>Données de navigation : Pages visitées, durée de la visite, et autres informations de navigation collectées via les cookies et technologies similaires.</li>
							</ul>
						</p>
					</div>

					<div class="border rounded p-4 mb-4">
						<h2>2. Utilisation des Informations</h2>
						<p>
							Nous utilisons vos informations pour :
							<ul class="custom-ul">
								<li>Fournir et améliorer nos services : Pour répondre à vos demandes, vous envoyer des informations sur nos services, et améliorer notre Site.</li>
								<li>Communication : Pour vous contacter en réponse à vos demandes, vous envoyer des mises à jour, newsletters, ou offres spéciales.</li>
								<li>Analyse : Pour analyser l'utilisation du Site et améliorer notre offre.</li>
							</ul>
						</p>
					</div>

					<div class="border rounded p-4 mb-4">
						<h2>3. Cookies et Technologies Similaires</h2>
						<p>
							Nous utilisons des cookies pour :
							<ul class="custom-ul">
								<li>Personnaliser votre expérience : Pour mémoriser vos préférences et vous offrir un contenu adapté.</li>
								<li>Analyser l'utilisation du Site : Pour comprendre comment les visiteurs utilisent notre Site et améliorer ses fonctionnalités.</li>
							</ul>
							Vous pouvez configurer votre navigateur pour refuser les cookies ou pour vous avertir lorsqu'un cookie est envoyé. Cependant, certaines fonctionnalités du Site peuvent ne pas fonctionner correctement si vous désactivez les cookies.
						</p>
					</div>

					<div class="border rounded p-4 mb-4">
						<h2>4. Partage des Informations</h2>
						<p>
							Nous ne vendons ni ne louons vos informations personnelles à des tiers. Cependant, nous pouvons partager vos informations :
							<ul class="custom-ul">
								<li>Avec des prestataires de services : Qui nous aident à fournir nos services, comme les services d'hébergement web, les services de marketing par e-mail, etc.</li>
								<li>Pour se conformer à la loi : Si nous sommes tenus de le faire par la loi ou pour protéger nos droits, notre propriété, ou notre sécurité, ainsi que ceux de nos utilisateurs ou du public.</li>
							</ul>
						</p>
					</div>

					<div class="border rounded p-4 mb-4">
						<h2>5. Sécurité des Données</h2>
						<p>
							Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès, utilisation ou divulgation non autorisés. Toutefois, aucun système de sécurité n'est infaillible, et nous ne pouvons garantir la sécurité absolue de vos données.
						</p>
					</div>

					<div class="border rounded p-4 mb-4">
						<h2>6. Vos Droits</h2>
						<p>
							En vertu de la législation applicable sur la protection des données, vous disposez des droits suivants concernant vos informations personnelles :
							<ul class="custom-ul">
								<li>Accès : Vous pouvez demander une copie des informations personnelles que nous détenons à votre sujet.</li>
								<li>Rectification : Vous pouvez demander la correction des informations personnelles incorrectes ou incomplètes.</li>
								<li>Suppression : Vous pouvez demander la suppression de vos informations personnelles sous certaines conditions.</li>
								<li>Limitation du traitement : Vous pouvez demander la limitation du traitement de vos informations personnelles.</li>
								<li>Opposition : Vous pouvez vous opposer au traitement de vos informations personnelles dans certaines circonstances.</li>
								<li>Portabilité : Vous pouvez demander à recevoir vos informations personnelles dans un format structuré, couramment utilisé et lisible par machine, et à les transmettre à un autre responsable de traitement.</li>
							</ul>
							Pour exercer ces droits, veuillez nous contacter à l'adresse suivante : contact@cameleon-solutions.fr.
						</p>
					</div>

					<div class="border rounded p-4 mb-4">
						<h2>7. Modifications de la Politique de Confidentialité</h2>
						<p>
							Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications seront publiées sur cette page avec une date de révision mise à jour. Nous vous encourageons à consulter régulièrement cette politique pour rester informé des modifications.
						</p>
					</div>

					<div class="border rounded p-4 mb-4">
						<h2>8. Contact</h2>
						<p>
							Pour toute question ou préoccupation concernant notre politique de confidentialité ou le traitement de vos données personnelles, veuillez nous contacter à l'adresse suivante :
						</p>
						<p>
							Camélon Solutions<br>
							5110 avenue des pyrénées 47330 Montauriol<br>
							<a href="mailto:contact@cameleon-solutions.fr">contact@cameleon-solutions.fr</a><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
