<div class="container mt-9">
	<div class="iam-container row featurette ">
		<div class="col-md-7">
			<h2 class="featurette-heading">Qui
				<span class="text-muted">suis-je ?</span>
			</h2>
			<p class="lead">
				Diplômée en 2017 d'une école de commerce dans la fillière du vin, j'obtiens un CDI rapidement dans une cave coopérative de ma région 
				                et je m'occupe de la commercialisation des vins.
				                En 2019, je décide de changer de voie et de me lancer dans le développement web.
				                J'ai suivi une formation pendant 1 an à distance. J'ai appris les langages HTML, CSS, JavaScript, PHP et SQL. 
				                J'ai également appris à utiliser des outils comme Git, Symfony, Bootstrap, WordPress, Prestashop, Photoshop, Illustrator, Figma, etc.
				                J'ai réalisé des projets personnels et professionnels.
				                J'ai également effectué un stage de 2 mois en entreprise.

			</p>
		</div>
		<div class="col-md-5">
			<img class="iam-image img-fluid mx-auto rounded-circle" src="/img/emma.jpg" alt="Generic placeholder image">
		</div>
	</div>
</div>
