{% extends 'base.html.twig' %}

{% block title %}Caméléon Solutions
{% endblock %}

{% block body %}
	<div class="hero-section">
		<div class="custom-navbar">
			{% include "shared/_navbar.html.twig" with {'navbarClass': 'navbar-transparent'} %}
		</div>
		{% include "home/tree.html.twig" %}
		<div class="effect-container">
			{% include "home/typing.html.twig" %}
			{% include "home/chameleon.html.twig" %}
		</div>
<<<<<<< HEAD
		<a href="#iam" class=" scroll-down-icon">
=======
		<a href=" #custom-jumbotron" class=" scroll-down-icon">
>>>>>>> 4db7d472c16756047c0100649998547115b5cd0a
			<i class="fa-solid fa-chevron-down"></i>
		</a>
	</div>

	<div id="iam">
		{% include "about/iam.html.twig" %}
	</div>
	{% include "services/objective.html.twig" %}


{% endblock %}
