{% extends 'base.html.twig' %}

{% block title %}Caméléon Solutions
{% endblock %}

{% block meta_description %}
	<meta name="description" content="Bienvenue chez Caméléon Solutions, votre expert en création de sites web et formation aux outils numériques. Donnons vie ensemble à vos projets digitaux sur mesure.">
{% endblock %}

{% block meta_keywords %}
	<meta name="keywords" content="création de sites web, formation numérique, solutions digitales, développement personnalisé, projet digital">
{% endblock %}

{% block body %}
	<div class="hero-section">
		<div class="custom-navbar">
			{% include "shared/_navbar.html.twig" with {'navbarClass': 'navbar-transparent'} %}
		</div>
		{% include "home/tree.html.twig" %}
		<div class="effect-container">
			{% include "home/typing.html.twig" %}
		</div>
		<a href="#project" class="scroll-down-icon">
			<i class="fa-solid fa-chevron-down"></i>
		</a>
	</div>

	{% include "home/project.html.twig" %}

	<div class="container-services">
		<h3 class="title-service">Ce que je propose</h3>
		{% include "services/listing.html.twig" %}
		{% include "services/picto.html.twig" %}
	</div>

	<div class="container-services">
		<h3 class="title-service">Ce que j'ai déjà réalisé</h3>
		{% include 'project/realisations.html.twig' with {'project': projects} %}
	</div>

	<div class="container-services">
		{% include "shared/_contact_section.html.twig" %}
	</div>
{% endblock %}
