{% extends 'base.html.twig' %}

{% block title %}Caméléon Solutions
{% endblock %}

{% block meta_description %}
	{{ 'home.meta_description'|trans }}
{% endblock %}
{% block meta_keywords %}
	<meta name="keywords" content="{{ 'home.meta_keywords'|trans }}">
{% endblock %}


{% block body %}

	<div class="hero-section">
		<div class="custom-navbar">
			{% include "shared/_navbar.html.twig" with {'navbarClass': 'navbar-transparent'} %}
		</div>
		{% include "home/tree.html.twig" %}
		<div class="effect-container">
			{% include "home/typing.html.twig" %}
		</div>
	</div>

	<div class="container-fluid">
		{% include "home/project.html.twig" %}
	</div>

	<div class="container-fluid reveal">
		<div class="container-services">

			{% include "services/picto.html.twig" %}
		</div>
	</div>

	<div class="container-fluid">
		<div class="container-services">
			<h3 class="title-service">{{ 'home.realisations.title'|trans }}</h3>
			{% include 'project/realisations.html.twig' with {'project': projects} %}
		</div>
	</div>

	<div class="container-fluid reveal">
		<div class="container-services">
			{% include "shared/_contact_section.html.twig" %}
		</div>
	</div>
{% endblock %}

{% block importmap %}
	{{ importmap(['app', 'fadeIn', 'homepage', 'popup']) }}
{% endblock %}
