{% extends 'base.html.twig' %}

{% block title %}Caméléon Solutions
{% endblock %}

{% block body %}
	<div class="hero-section">
		<div class="custom-navbar">
			{% include "shared/_navbar.html.twig" with {'navbarClass': 'navbar-transparent'} %}
		</div>
		{% include "home/tree.html.twig" %}
		<div class="effect-container">
			{% include "home/typing.html.twig" %}
		</div>
		<a href="#project" class="scroll-down-icon">
			<i class="fa-solid fa-chevron-down"></i>
		</a>
	</div>

	<div class="container mt-9">
		<div id="project" class="project-container">
			<h2 class="project-heading">
				<span class="heading-part1">À l'écoute de vos attentes</span>
				<span class="heading-part2">pour des solutions personnalisées</span>
			</h2>
			<p class="project-description">
				Nous sommes attentifs à vos besoins pour offrir des solutions sur mesure qui répondent parfaitement à vos attentes. Chaque projet bénéficie d'une écoute personnalisée, mettant l'humain au cœur de notre approche. Ensemble, nous construisons des solutions uniques qui reflètent véritablement vos aspirations.
			</p>
		</div>
	</div>

	<div class="container-services fade-in">
		<h3 class="title-service">
			Ce que je propose
		</h3>
		{% include "services/listing.html.twig" %}
		{% include "services/picto.html.twig" %}
		{% include "services/contact.html.twig" %}

	</div>
{% endblock %}
