<div class="row featurette">
	<div class="row">
		<div class="col-lg-7 col-md-12 mb-4 mt-4">
			<div id="project" class="project-container">
				<h2 class="project-heading">
					<span class="heading-part1">À l'écoute de vos attentes</span>
					<span class="heading-part2">pour des solutions personnalisées</span>
				</h2>
				<p class="project-description">
					Chez
					<strong>Caméléon Solutions</strong>, vos besoins et ambitions sont au cœur de chaque projet. J’écoute attentivement vos attentes pour élaborer une stratégie sur mesure, adaptée à votre vision.
				</p>
				<p class="project-description">
					<strong>L'écoute</strong>
					est essentielle dans ma démarche. Dès nos premiers échanges, nous définissons ensemble les priorités pour créer une solution qui vous ressemble. Que vous ayez une idée précise ou besoin d'inspiration, je vous guide pour concrétiser votre projet.
				</p>
				<p class="project-description">
					Je vous accompagne
					<strong>de la conception à la mise en ligne</strong>, je propose des sites web performants, maintenable en continue. Je propose également des formations  coachings dans l'univers du numérique Chaque étape bénéficie d’un suivi personnalisé, car votre satisfaction est ma priorité.
				</p>
				<p class="project-description">
					Chez Caméléon Solutions, je crois en une approche collaborative où
					<strong>l'humain</strong>
					est au centre. Je suis convaincue que derrière chaque projet se cache une histoire unique à raconter, et je souhaite être l'alliée qui vous aide à la mettre en lumière. Ensemble, nous concevons des solutions innovantes qui reflètent vos valeurs et répondent aux besoins de vos clients.
				</p>
				<p class="project-description">
					Mon
					<strong>objectif</strong>
					: dépasser vos attentes avec des solutions fiables, évolutives et adaptées à votre secteur.
				</p>
			</div>
		</div>
		<div class="col-lg-5 col-md-12 d-flex align-items-center mt-4">
			<img src="{{ asset('img/emma.webp') }}" class="my-photo img-fluid rounded" width="500" height="500" alt="Photo de Emma Vigneron" loading="lazy">


		</div>
	</div>
</div>
