<div class="container mt-5">
	<div class="row align-items-center">
		<div class="col-md-6 col-12 mb-4 mb-md-0">
			<div id="project" class="project-container">
				<h2 class="project-heading">
					<div class="heading-part1">À l'écoute de vos attentes</div>
					<div class="heading-part2">pour des solutions personnalisées</div>
				</h2>
				<p class="project-description">
					Chez Caméléon Solutions, nous mettons un point d'honneur à être attentifs à vos besoins spécifiques, car nous croyons fermement que chaque projet mérite une approche sur mesure. Notre équipe s'engage à comprendre vos attentes, vos défis et vos ambitions. Ainsi, nous pouvons vous offrir des solutions adaptées qui répondent parfaitement à vos exigences.
					<br><br>
					Chaque étape de notre collaboration est guidée par une écoute personnalisée, où l'humain est au cœur de notre démarche. Nous savons que derrière chaque projet se cache une histoire unique, et c'est pourquoi nous prenons le temps de discuter avec vous, d'échanger des idées et de co-construire des solutions qui reflètent véritablement vos aspirations.
					<br><br>
					Ensemble, nous transformons vos visions en réalité, en mettant à profit notre expertise pour créer des solutions uniques et innovantes. Que ce soit pour la création d'un site web, la maintenance, ou le conseil numérique, notre approche est toujours axée sur la satisfaction de nos clients et l'atteinte de leurs objectifs.
				</p>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<img src="{{ asset('/img/autres/emma.jpg') }}" alt="Photo de Emma VIGNERON" class="my-photo img-fluid rounded">
		</div>
	</div>
</div>
