<div class="typing-effect mt-10">
	<div class="line">
		<b>
			Emma VIGNERON : Developpeuse web
		</b>
	</div>
	<div class="line">Création de site web
	</div>
	<div class="line">Conseillère numérique pour les particuliers
	</div>
	<div class="line">Formatrice des outils numériques
	</div>
</div>
