<div class="typing-effect mt-5 text-center mt-10">
	<div class="line">
		<b>
			<h1>
				Emma VIGNERON :
				<span id="developper">
					Développeuse
				</span>
				<span id="word">
					<u>web</u>
				</span>
			</h1>
		</b>
	</div>
	<p class="tagline">"Construisons ensemble des expériences numériques qui comptent"</p>
</div>
