<div class="typing-effect mt-5 text-center">
	<div class="line">
		<b>
			<h1 class="line">
				Emma VIGNERON :
				<span id="developper">
					Développeuse
				</span>
				<span id="word">
					<u>web</u>
				</span>
			</h1>
		</b>
	</div>
	<p class="tagline">"Construisons ensemble des expériences numériques qui comptent"</p>
	<div class="button-container mt-4">
		<a href="{{ path('contact_index') }}" class="cta-button">Me contacter</a>
		<a href="{{ path('services_index') }}" class="cta-button secondary-button">Découvrir mes services</a>
	</div>

</div>
