<div class="typing-effect mt-10">
	<div class="line">
		<b>
			<h1>
				Emma VIGNERON : Développeuse
				<span id="word">
					<u>
						web
					</u>
				</span>
			</h1>
		</b>
	</div>
	<p class="tagline">"Construire des expériences numériques qui comptent"</p>
</div>
