<section class="legal-page container py-5">
	<h1 class="text-center mb-4">Conditions Générales de Vente</h1>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Objet</h2>
		<p>Les présentes Conditions Générales de Vente (CGV) régissent la vente de services numériques proposés par
			<strong>
				Caméléon Solution
			</strong>, société titulaire d'un CAPE (Contrat d'Appui au Projet d'Entreprise), sous l'accompagnement de l'association
			<strong>Altitude
			</strong>. Elles définissent les conditions dans lesquelles les services sont fournis, les droits et obligations des parties, ainsi que les conditions de paiement.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Services proposés</h2>
		<p>Les services proposés par
			<strong>Caméléon Solution</strong>
			incluent la création de sites web, la gestion et la maintenance de sites, le conseil numérique et la formation aux outils numériques.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Prix</h2>
		<p>Les tarifs des services sont indiqués en euros, hors taxe (HT). Les prix peuvent être modifiés sans préavis, mais les modifications ne concernent que les services futurs. Toute commande validée sera facturée au tarif en vigueur au moment de la commande.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Modalités de paiement</h2>
		<p>Le paiement des services s'effectue par virement bancaire, carte de crédit, ou selon les modalités précisées dans l'offre spécifique ou le contrat signé avec le client. Le paiement s'effectue en deux étapes : un acompte de 40% du montant total est dû à la commande, et le solde est payable à la livraison ou selon les termes convenus dans le contrat. En cas de paiement échelonné, un échéancier sera spécifié.</p>
	</div>


	<div class="card mb-4 p-4 shadow-sm">
		<h2>Exécution des services</h2>
		<p>Les services sont fournis dans les délais convenus entre Caméléon Solution et le client. Les délais peuvent être affectés par des facteurs externes tels que la disponibilité du client ou des événements imprévus. En cas de retard, Caméléon Solution s'engage à informer le client dans les plus brefs délais.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Responsabilité</h2>
		<p>Caméléon Solution ne pourra être tenue responsable des dommages directs ou indirects causés au matériel ou aux données du client, notamment lors de l'accès au site ou de l'exécution des services, sauf en cas de négligence grave de sa part.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Propriété intellectuelle</h2>
		<p>Les créations réalisées dans le cadre des services fournis par Caméléon Solution restent la propriété intellectuelle de l'entreprise jusqu'au paiement intégral des services. Le client bénéficie d'une licence d'utilisation des créations dans le cadre de son activité professionnelle après paiement complet.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Confidentialité</h2>
		<p>Les deux parties s'engagent à respecter la confidentialité des informations échangées dans le cadre de l'exécution des services. Caméléon Solution s'engage à ne pas divulguer les informations sensibles du client sans son consentement préalable.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Droit de rétractation</h2>
		<p>Conformément à l'article L.121-21 du Code de la consommation, le client particulier bénéficie d’un droit de rétractation de 14 jours à compter de la signature du contrat. Toutefois, ce droit de rétractation ne s'applique pas si l'exécution des services a commencé avec l'accord préalable du client avant la fin du délai de rétractation.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Médiation</h2>
		<p>En cas de litige, le client peut faire appel à la médiation de la consommation. Conformément à l'article L. 612-1 du Code de la consommation, le consommateur peut saisir le médiateur de la consommation **SAS Médiation Solution** par écrit à l'adresse suivante :  
																		Adresse : 222 Chem. de la Bergerie, 01800 Saint-Jean-de-Niost  
																		Téléphone : 04 82 53 93 06</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Modification des CGV</h2>
		<p>Caméléon Solution se réserve le droit de modifier les présentes Conditions Générales de Vente à tout moment. Les conditions applicables seront celles en vigueur à la date de la commande ou de la signature du contrat.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Loi applicable</h2>
		<p>Les présentes CGV sont régies par la loi française. En cas de litige, le tribunal compétent sera celui du ressort du siège social de Caméléon Solution, sauf disposition contraire.</p>
	</div>

	<div class="card mb-4 p-4 shadow-sm">
		<h2>Contact</h2>
		<p>Pour toute question concernant ces CGV, vous pouvez contacter **Caméléon Solution** à l'adresse suivante :  
																		Email :
			<a href="mailto:contact@cameleon-solutions.fr">contact@cameleon-solutions.fr</a>
			Téléphone : 06 69 28 48 62</p>
	</div>
</section>
