{% extends 'base.html.twig' %}

{% block title %}Mes services
{% endblock %}

{% block body %}


	{% include "home/project.html.twig" %}

	<div class="container-services fade-in">
		<h3 class="title-service">
			Ce que je propose
		</h3>
		{% include "services/listing.html.twig" %}
		{% include "services/picto.html.twig" %}
		{% include "services/contact.html.twig" %}
	{% endblock %}
