{% extends 'base.html.twig' %}

{% block meta_description %}
	<meta name="description" content="{{ 'meta.services_description'|trans }}">
{% endblock %}


{% block title %}
	{{ 'services.title'|trans }}
{% endblock %}

{% block body %}

	{% include "home/project.html.twig" %}

	<div class="container-services">
		<h3 class="title-service">
			{{ 'services.heading'|trans }}
		</h3>
		{% include "services/listing.html.twig" %}
		{% include "services/picto.html.twig" %}
		{% include "shared/_contact_section.html.twig" %}
	</div>
{% endblock %}
