{% extends 'base.html.twig' %}

{% block meta_description %}
	<meta name="description" content="Découvrez les services offerts par Caméléon Solutions, de la création de sites web à la formation aux outils numériques, adaptés à vos besoins.">
{% endblock %}

{% block meta_keywords %}
	<meta name="keywords" content="services numériques, création de sites web, formation numérique, solutions digitales, développement personnalisé">
{% endblock %}

{% block title %}Mes services
{% endblock %}

{% block body %}


	{% include "home/project.html.twig" %}

	<div class="container-services">
		<h3 class="title-service">
			Ce que je propose
		</h3>
		{% include "services/listing.html.twig" %}
		{% include "services/picto.html.twig" %}
		{% include "shared/_contact_section.html.twig" %}
	{% endblock %}
