<div class="listing-container">
	<div
		class="timeline">
		<!-- Création de site web -->
		<div class="content-link" data-popup="popup1">
			<div class="content-box left" style="--index: 0;">
				<h4>Création de site web</h4>
				<p>
					Boostez votre visibilité en ligne avec un site web qui vous ressemble ! Qu’il s’agisse d’un CMS comme
					<strong>
						WordPress
					</strong>
					ou d’un
					<strong>
						développement sur-mesure
					</strong>, je conçois une solution adaptée à vos besoins et à vos objectifs.
				</p>
			</div>
		</div>


		<!-- Community Manager -->
		<div class="content-link" data-popup="popup2">
			<div class="content-box right" style="--index: 1;">
				<h4>Community Management</h4>
				<p>
					Engagez et fidélisez votre audience avec une gestion active et créative de vos réseaux sociaux. Créez du contenu captivant et développez une communauté qui vous ressemble.
				</p>
			</div>
		</div>


		<!-- Maintenance de site web -->
		<div class="content-link" data-popup="popup3">
			<div class="content-box left" style="--index: 2;">
				<h4>Maintenance de site web</h4>
				<p>
					Assurez la fiabilité de votre site avec une maintenance régulière. Profitez de mises à jour de sécurité, de sauvegardes automatiques et d’une surveillance continue pour prévenir les risques.  
																																																												      Optimisez les performances pour offrir à vos utilisateurs une navigation fluide et sécurisée.
				</p>
			</div>
		</div>


		<!-- Conseil numérique -->
		<div class="content-link" data-popup="popup4">
			<div class="content-box right" style="--index: 3;">
				<h4>Conseil numérique pour particuliers</h4>
				<p>
					Simplifiez votre quotidien numérique avec un accompagnement personnalisé ! Que ce soit pour comprendre les outils digitaux, gérer vos démarches en ligne ou sécuriser vos appareils, je vous guide pas à pas.
					<strong>Paiement possible via CESU.</strong>
				</p>
			</div>
		</div>


		<!-- Formation aux outils numériques -->
		<div class="content-link" data-popup="popup5">
			<div class="content-box left" style="--index: 4;">
				<div class="label-round">
					<img src="{{ asset('img/qualiopi.webp') }}" alt="Label Qualiopi" class="overlap-img" loading="lazy"/>
				</div>
				<h4>Formation aux outils numériques</h4>
				<p>
					Boostez vos compétences numériques avec des formations pratiques et sur mesure ! Maîtrisez les outils essentiels pour développer votre activité et gagnez en autonomie dans le monde digital.
				</p>
			</div>
		</div>


	</div>
</div>

<!-- Popup Elements -->
<!-- Création de site web -->
<div id="popup1" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>1. Création de site web</h4>
		<p>
			Sites vitrines, e-commerce ou plateformes sur mesure : je conçois des solutions web adaptées à votre image et à vos objectifs.
		</p>
		<p class="popup-price">
			<b>Tarif : À partir de 2 000€ HT</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>


<!-- Gestion de site web et Création de contenu -->
<div id="popup2" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>2. Community Management</h4>
		<p>
			Dynamisez vos réseaux sociaux avec une gestion active et du contenu engageant pour attirer et fidéliser votre audience cible.
		</p>
		<p class="popup-price">
			<b>Formule à partir de 150€/mois HT</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>


<!-- Maintenance site web -->
<div id="popup3" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>3. Maintenance de site web</h4>
		<p>
			Assurez la pérennité de votre site avec une maintenance trimestrielle complète :
			<ul>
				<li>
					- Mises à jour de sécurité régulières
				</li>
				<li>
					- Sauvegardes automatiques
				</li>
				<li>
					- Surveillance continue pour éviter les risques
				</li>
				<li>
					- Optimisation des performances pour une navigation fluide
				</li>
				<li>
					- Support technique dédié pour vos besoins
				</li>
			</ul>

		</p>
		<p class="popup-price">
			<b>Tarif : 150€ HT / trimestre</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>


<!-- Conseil numérique -->
<div id="popup4" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>4. Conseil numérique pour particuliers</h4>
		<p>
			Simplifiez votre quotidien numérique avec un accompagnement sur mesure ! Je vous aide à :  
									- Comprendre et utiliser vos outils digitaux  
									- Gérer vos démarches administratives en ligne  
									- Sécuriser vos appareils et vos données
		</p>
		<p class="popup-price">
			<b>Tarif : À partir de 50€ la demi-journée</b><br>
			<strong>Paiement possible via CESU.</strong>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>

<!-- Popup Formation aux outils numériques -->
<div id="popup5" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>5. Formation aux outils numériques</h4>
		<p>
			Développez vos compétences numériques avec des formations sur mesure ! Que ce soit pour la gestion de contenu, le marketing digital, ou l'utilisation d'outils spécifiques, je vous propose un apprentissage pratique et adapté à vos besoins.
		</p>
		<p class="popup-price">
			<b>Tarif : À partir de 150€ HT la demi-journée</b><br>
			Déplacement inclus.
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>
