<div class="listing-container">
	<div
		class="timeline">
		<!-- Création de site web -->
		<div class="content-link" data-popup="popup1">
			<div class="content-box left" style="--index: 0;">
				<h4>Création de site web</h4>
				<p>Développez votre présence en ligne avec un site web sur mesure, qu'il s'agisse d'un CMS (WordPress, PrestaShop) ou d'un développement personnalisé, adapté à vos besoins.</p>
			</div>
		</div>

		<!-- Gestion de site web et création de contenu -->
		<div class="content-link" data-popup="popup2">
			<div class="content-box right" style="--index: 1;">
				<h4>Gestion de site web & Création de contenu</h4>
				<p>Optimisez votre site avec une gestion régulière et un contenu engageant, pour améliorer votre visibilité et offrir une expérience utilisateur de qualité.</p>
			</div>
		</div>

		<!-- Maintenance site web -->
		<div class="content-link" data-popup="popup3">
			<div class="content-box left" style="--index: 2;">
				<h4>Maintenance site web</h4>
				<p>Assurez la performance et la sécurité de votre site avec des mises à jour régulières, des sauvegardes et une surveillance continue.</p>
			</div>
		</div>

		<!-- Conseillère numérique -->
		<div class="content-link" data-popup="popup4">
			<div class="content-box right" style="--index: 3;">
				<h4>Conseil numérique</h4>
				<p>Profitez d'un accompagnement personnalisé pour améliorer votre présence en ligne et naviguer efficacement dans l'écosystème digital.</p>
			</div>
		</div>

		<!-- Formatrice des outils numériques -->
		<div class="content-link" data-popup="popup5">
			<div class="content-box left" style="--index: 4;">
				<div class="label-round">
					<img src="{{ asset('img/qualiopi.webp') }}" alt="Label Qualiopi" class="overlap-img" loading="lazy"/>
				</div>
				<h4>Formation aux outils numériques</h4>
				<p>Améliorez vos compétences avec des formations pratiques sur les outils numériques essentiels pour développer votre activité.</p>
			</div>
		</div>
	</div>
</div>

<!-- Popup Elements -->
<!-- Création de site web -->
<div id="popup1" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>1. Création de site web</h4>
		<p>Que ce soit un site vitrine, un e-commerce ou une plateforme dédiée, je conçois des sites web sur mesure qui reflètent votre image et répondent à vos objectifs.</p>
		<p class="popup-price">
			<b>Tarif : À partir de 2 000€ HT</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>

<!-- Gestion de site web et Création de contenu -->
<div id="popup2" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>2. Gestion de site web & Création de contenu</h4>
		<p>Je prends en charge la gestion de votre site et la création de contenu optimisé pour maximiser votre visibilité et attirer vos clients cibles.</p>
		<p class="popup-price">
			<b>Tarif : À partir de 150€/mois HT</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>

<!-- Maintenance site web -->
<div id="popup3" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>3. Maintenance site web</h4>
		<p>Des services de maintenance complets incluant les mises à jour de sécurité, les sauvegardes et la résolution de bugs pour garantir la fiabilité de votre site.</p>
		<p class="popup-price">
			<b>Tarif : 150€/trimestre HT</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>

<!-- Conseil numérique -->
<div id="popup4" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>4. Conseil numérique</h4>
		<p>Je vous accompagne dans la mise en place de stratégies digitales efficaces pour optimiser votre présence en ligne et gérer vos démarches administratives.</p>
		<p class="popup-price">
			<b>Tarif : À partir de 100€ HT la demi-journée</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>

<!-- Formation aux outils numériques -->
<div id="popup5" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>5. Formation aux outils numériques</h4>
		<p>Acquérez de nouvelles compétences en gestion de contenu, marketing digital ou utilisation d'outils spécifiques grâce à des formations personnalisées.</p>
		<p class="popup-price">
			<b>Tarif : À partir de 150€ HT pour une demi-journée</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>
