<div class="listing-container">
	<div class="content">
		<div class="computer-image">
			<img src="img/ordinateur-portable-ecran-plat-illustration-travail-distance-videoconference-groupe-collegues-conn.png" alt="Computer">
		</div>
		<div class="text-content">
			<a href="#" class="content-link" data-popup="popup1">
				<div class="content-box top-left">
					<p>
						<b>Création de site web</b>
						<br>
						CMS ou développement sur mesure, nous vous accompagnons dans la création de votre site web vitrine, e-commerce ou établissement touristique.
					</p>
				</div>
			</a>
			<a href="#" class="content-link" data-popup="popup2">
				<div class="content-box bottom-left">
					<p>
						<b>Gestion de site web</b>
						<br>
						Vous n'avez pas le temps de gérer votre site internet ? Pas de soucis je suis là
					</p>
				</div>
			</a>
			<a href="#" class="content-link" data-popup="popup3">
				<div class="content-box top-right">
					<p>
						<b>
							Maintenance site web
						</b>
					</p>
				</div>
			</a>
			<a href="#" class="content-link" data-popup="popup4">
				<div class="content-box middle-right">
					<p>
						<b>Conseillère numérique</b>
					</p>
				</div>
			</a>
			<a href="#" class="content-link" data-popup="popup5">
				<div class="content-box bottom-right">
					<p>
						<b>Formatrice des outils numériques</b>
						<br>
						Abilité Qualiopi
					</p>
				</div>
			</a>
		</div>
	</div>
</div>

<!-- Popup Elements -->
<div id="popup1" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h2>Création de site web</h2>
		<p>
			Que ce soit un CMS (Wordpress, PrestaShop) ou en dévelopmment web, je vous propose la création d'un site internet qui vous ressemble sur mesure. Responsive Design
		</p>
	</div>
</div>
<div id="popup2" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h2>Gestion de site web</h2>
		<p>Votre site internet est en ligne mais vous n'avez pas le temps de le gérer ? Pas de soucis je suis là</p>
	</div>
</div>
<div id="popup3" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h2>Maintenance site web</h2>
		<p>Vous avez besoin de mettre à jour votre site internet ? Je suis là pour vous aider</p>
	</div>
</div>
<div id="popup4" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h2>Conseillère numérique</h2>
		<p>Vous avez besoin de conseils pour votre site internet ? Je suis là pour vous aider</p>
	</div>
</div>
<div id="popup5" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h2>Formatrice des outils numériques</h2>
		<p>Vous avez besoin de vous former aux outils numériques ? Je suis là pour vous aider</p>
	</div>
</div>
