<div class="listing-container">
	<div class="content">
		<div class="computer-image">
			<img src="img/ordinateur-portable-ecran-plat-illustration-travail-distance-videoconference-groupe-collegues-conn.png" alt="Computer">
		</div>
		<div class="text-content">
			<div class="content-box top-left">
				<p>
					<b>Création de site web</b>
					<br>
					CMS ou développement sur mesure, nous vous accompagnons dans la création de votre site web vitrine, e-commerce ou établissement touristique.
				</p>
			</div>
			<div class="content-box top-right">
				<p>
					<b>Conseillère numérique</b>
				</p>
			</div>
			<div class="content-box bottom-right">
				<p>
					<b>Formatrice des outils numériques</b>
					<br>
					Abilité Qualiopi
				</p>
			</div>
		</div>
	</div>
</div>
