<div class="listing-container">
	<div class="timeline">
		<a href="#" class="content-link" data-popup="popup1">
			<div class="content-box left" style="--index: 0;">
				<p>
					<h4>
						Création de site web
					</h4>
					<br>
					Un site web sur mesure pour vous, qu'il s'agisse d'un CMS comme WordPress ou PrestaShop, ou d'un développement personnalisé.
				</p>
			</div>
		</a>
		<a href="#" class="content-link" data-popup="popup2">
			<div class="content-box right" style="--index: 1;">
				<p>
					<h4>
						Gestion de site web et Création de contenu
					</h4>
					<br>
					Conception, gestion et enrichissement de sites web avec du contenu pertinent et engageant pour une expérience utilisateur optimale
				</p>
			</div>
		</a>
		<a href="#" class="content-link" data-popup="popup3">
			<div class="content-box left" style="--index: 2;">
				<p>
					<h4>Maintenance site web</h4>
					<br>
					Votre site nécessite des mises à jour régulières ? Je suis là pour assurer la maintenance de votre site web.

				</p>
			</div>
		</a>
		<a href="#" class="content-link" data-popup="popup4">
			<div class="content-box right" style="--index: 3;">
				<p>
					<h4>Conseillère numérique</h4>
					<br>
					En tant que conseillère numérique, je vous accompagne dans la navigation de votre présence en ligne.

				</p>
			</div>
		</a>
		<a href="#" class="content-link" data-popup="popup5">
			<div class="content-box left" style="--index: 4;">
				<div class="label-round">
					<img src="{{ asset('img/qualiopi.png') }}" alt="Label Image" class="overlap-img"/>
				</div>
				<p>
					<h4>Formatrice des outils numériques</h4>
					<br>
					Formez-vous aux outils numériques avec mon expertise.

				</p>
			</div>
		</a>
	</div>
</div>


<!-- Popup Elements -->
<div id="popup1" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>
			1. Création de site web
		</h4>
		<p>
			Je vous accompagnerai dans la création de votre site web, qu’il s’agisse d’un site vitrine, d’un site e-commerce, ou d’un site pour un établissement touristique. Chaque projet est unique, et je veille à concevoir un site qui reflète votre image et vos objectifs.<br>
		</p>
		<p class="popup-price">
			<b>
				Tarif : À partir de 2 000€ HT
			</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>

	</div>
</div>
<div id="popup2" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>
			2. Gestion de site web et Création de contenu
		</h4>
		<p>
			Confiez-moi la gestion et la création de contenu de votre site internet pour vous concentrer sur votre cœur de métier. J'assure la mise à jour régulière, le suivi des performances et l'optimisation du contenu pour maximiser votre visibilité en ligne. Je vous propose également des créations de contenu engageant pour vos réseaux sociaux, afin de renforcer votre présence digitale et d'attirer une audience ciblée.
			<br>
		</p>
		<p class="popup-price">
			<b>
				Tarif : À partir de 150€/mois HT.
			</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>
<div id="popup3" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>
			3. Maintenance site web</h4>
		<p>
			Votre site mérite une attention constante. Je propose des services de maintenance régulière, incluant les mises à jour de sécurité, les sauvegardes et la correction des bugs, pour garantir son bon fonctionnement.<br>
		</p>
		<p class="popup-price">
			<b>
				Tarif : 150€/trimestre HT.
			</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>
<div id="popup4" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>4. Conseillère numérique</h4>
		<p>
			En tant que conseillère numérique, je vous accompagne dans l’optimisation de votre présence en ligne et vous aide également avec vos démarches administratives. Ensemble, nous mettrons en place des stratégies digitales adaptées à vos besoins.
		</p>
		<p>
			<b>Déplacement inclus :</b>
			Je me déplace pour vous rencontrer et comprendre au mieux vos besoins, que ce soit à votre domicile ou dans un autre lieu de votre choix.
		</p>
		<p class="popup-price">
			<b>Tarif : À partir de 150€ la demi/journée.</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>

<div id="popup5" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>

		<h4>5. Formatrice des outils numériques</h4>
		<p>
			Formez-vous aux outils numériques indispensables pour votre activité. Que vous souhaitiez améliorer vos compétences en gestion de contenu, en marketing digital ou en utilisation d’applications spécifiques, je suis là pour vous aider.
		</p>
		<p>
			<b>Déplacement inclus :</b>
			Je me déplace à votre convenance pour dispenser les formations, que ce soit dans vos locaux ou dans un cadre adapté à votre apprentissage.
		</p>
		<p class="popup-price">
			<b>Tarif : À partir de 150€ HT pour une demi-journée..</b>
		</p>
		<button class="contact-button-popup">Contactez-moi</button>
	</div>
</div>
