<div class="listing-container">
	<div class="timeline">
		<a href="#" class="content-link" data-popup="popup1">
			<div class="content-box left" style="--index: 0;">
				<p>
					<h4>
						Création de site web
					</h4>
					<br>
					Un site web sur mesure pour vous, qu'il s'agisse d'un CMS comme WordPress ou PrestaShop, ou d'un développement personnalisé.
				</p>
			</div>
		</a>
		<a href="#" class="content-link" data-popup="popup2">
			<div class="content-box right" style="--index: 1;">
				<p>
					<h4>
						Gestion de site web
					</h4>
					<br>
					Vous n'avez pas le temps de gérer votre site internet ? Confiez-nous cette tâche !
				</p>
			</div>
		</a>
		<a href="#" class="content-link" data-popup="popup3">
			<div class="content-box left" style="--index: 2;">
				<p>
					<h4>Maintenance site web</h4>
					<br>
					Votre site nécessite des mises à jour régulières ? Nous sommes là pour assurer la maintenance de votre site web.

				</p>
			</div>
		</a>
		<a href="#" class="content-link" data-popup="popup4">
			<div class="content-box right" style="--index: 3;">
				<p>
					<h4>Conseillère numérique</h4>
					<br>
					En tant que conseillère numérique, je vous accompagne dans la navigation de votre présence en ligne.

				</p>
			</div>
		</a>
		<a href="#" class="content-link" data-popup="popup5">
			<div class="content-box left" style="--index: 4;">
				<p>
					<h4>Formatrice des outils numériques</h4>
					<br>
					Formez-vous aux outils numériques avec notre expertise.

				</p>
			</div>
		</a>
	</div>
</div>


<!-- Popup Elements -->
<div id="popup1" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>
			1. Création de site web
		</h4>
		<p>
			Nous vous accompagnons dans la création de votre site web, qu’il s’agisse d’un site vitrine, d’un site e-commerce, ou d’un site pour un établissement touristique. Chaque projet est unique, et nous veillons à concevoir un site qui reflète votre image et vos objectifs.<br>
		</p>
		<p class="popup-price">
			<b>
				Tarif : À partir de 800€.
			</b>
		</p>
		<button class="contact-button-popup">Contactez-nous</button>

	</div>
</div>
<div id="popup2" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>
			2. Gestion de site web
		</h4>
		<p>
			Confiez-nous la gestion de votre site internet pour vous concentrer sur votre cœur de métier. Nous assurons la mise à jour régulière, le suivi des performances et l’optimisation du contenu pour maximiser votre visibilité en ligne.<br>
		</p>
		<p class="popup-price">
			<b>
				Tarif : À partir de 200€/mois.
			</b>
		</p>
		<button class="contact-button-popup">Contactez-nous</button>
	</div>
</div>
<div id="popup3" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>
			3. Maintenance site web3. Maintenance site web</h4>
		<p>
			Votre site mérite une attention constante. Nous proposons des services de maintenance régulière, incluant les mises à jour de sécurité, les sauvegardes et la correction des bugs, pour garantir son bon fonctionnement.<br>
		</p>
		<p class="popup-price">
			<b>
				Tarif : 150€/trimestre.
			</b>
		</p>
		<button class="contact-button-popup">Contactez-nous</button>
	</div>
</div>
<div id="popup4" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>
			4. Conseillère numérique</h4>
		<p>
			En tant que conseillère numérique, je vous accompagne dans l’optimisation de votre présence en ligne et vous aide également avec vos démarches administratives. Ensemble, nous mettrons en place des stratégies digitales adaptées à vos besoins<br>
		</p>
		<p class="popup-price">
			<b>
				Tarif : À partir de 50¥/heure.
			</b>
		</p>
		<button class="contact-button-popup">Contactez-nous</button>
	</div>
</div>
<div id="popup5" class="popup">
	<div class="popup-content">
		<span class="close">&times;</span>
		<h4>
			5. Formatrice des outils numériques</h4>
		<p>
			Formez-vous aux outils numériques indispensables pour votre activité. Que vous souhaitiez améliorer vos compétences en gestion de contenu, en marketing digital ou en utilisation d’applications spécifiques, je suis là pour vous aider.<br>
		</p>
		<p class="popup-price">
			<b>
				Tarif : À partir de 200€/mois.
			</b>
		</p>
		<button class="contact-button-popup">Contactez-nous</button>
	</div>
</div>
