<div class="listing-container">
	<div class="content">
		<div class="computer-image">
			<img src="img/ordinateur-portable-ecran-plat-illustration-travail-distance-videoconference-groupe-collegues-conn.png" alt="Computer">
		</div>
		<div class="text-content">
			<a href="https://votre-lien-creation-site.com" class="content-link">
				<div class="content-box top-left">
					<p>
						<b>Création de site web</b>
						<br>
						CMS ou développement sur mesure, nous vous accompagnons dans la création de votre site web vitrine, e-commerce ou établissement touristique.
					</p>
				</div>
			</a>
			<a href="https://votre-lien-creation-site.com" class="content-link">
				<div class="content-box bottom-left">
					<p>
						<b>Gestion de site web</b>
						<br>
						Vous n'avez pas le temps de gérer votre site internet ? Pas de soucis je suis là
					</p>
				</div>
			</a>
			<a href="https://votre-lien-conseiller-numerique.com" class="content-link">
				<div class="content-box top-right">
					<p>
						<b>
							Maintenance site web
						</b>
					</p>
				</div>
			</a>
			<a href="https://votre-lien-conseiller-numerique.com" class="content-link">
				<div class="content-box middle-right">
					<p>
						<b>Conseillère numérique</b>
					</p>
				</div>
			</a>
			<a href="https://votre-lien-formatrice-outils.com" class="content-link">
				<div class="content-box bottom-right">
					<p>
						<b>Formatrice des outils numériques</b>
						<br>
						Abilité Qualiopi
					</p>
				</div>
			</a>
		</div>
	</div>
</div>
