<div class="container">
	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Mon objectif ?
				<span class="text-muted">Vous aider à réaliser vos projets.</span>
			</h2>
			<p class="lead">
				Ayant d'abord une formation marketing et commerciale, je peux vous aider à définir votre stratégie de communication et de commercialisation.
				<br>
				Je connais également les outils de développement web et je peux vous aider à créer votre site internet.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
		</div>
	</div>
</div>
