<div class="container">
	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">Mon objectif ?
				<span class="text-muted">Vous aider dans le web.</span>
			</h2>
			<p class="lead">
				Que ce soit pour une formation ou pour un projet web, je suis là pour vous aider. 
								Je m'adapte à vos besoins et à votre niveau pour vous accompagner dans votre projet. 
								Je suis là pour vous aider à comprendre et à maîtriser les outils du web. 
								Je vous propose des formations sur mesure pour vous aider à atteindre vos objectifs.
								Je vous accompagne dans la création de votre site web, de la conception à la mise en ligne. 
								Je vous aide à améliorer votre site web pour le rendre plus performant et plus attractif. 
								Je vous propose des solutions adaptées à vos besoins et à votre budget.
				<br>
				Je suis là pour vous aider à réussir sur le web.
			</p>
		</div>
		<div class="col-md-5 order-md-1">
			<img src="/img/giphy-3--unscreen.gif" alt="">

		</div>
	</div>
</div>
