<div class="container">
	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h1 class="featurette-heading">Mon objectif ?
				<span class="text-muted">Vous aider dans le web.</span>
			</h1>
			<p class="lead">
				1. Webdesign
				<br>
				Je suis là pour vous aider à réussir sur le web.
			</p>
		</div>

	</div>
</div>
