<div class="avt_container">
	<div class="avt_item">
		<i class="fa-solid fa-screwdriver-wrench"></i>
		<div class="border_cont">
			<p class="avt_title">
				WEBDESIGN
			</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">Interface et expériences utilisateurs fluide
		</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item">
		<i class="fa-solid fa-car"></i>
		<div class="border_cont">
			<p class="avt_title">
				DÉVELOPPEMENT
			</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">
			Site sur mesure et performant
		</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item">
		<i class="fa-solid fa-key"></i>
		<div class="border_cont">
			<p class="avt_title">
				RÉFÉRENCEMENT & OPTIMISATION
			</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">
			Visible sur le net
		</p>
	</div>

	<div class="avt_sep"></div>

	<div class="avt_item">
		<i class="fa-regular fa-handshake"></i>
		<div class="border_cont">
			<p class="avt_title">Service client</p>
			<div class="border_b"></div>
		</div>
		<p class="avt_subtitle">
			1 seul interlocuteur dédié
		</p>
	</div>

</div>
