{% extends 'base.html.twig' %}

{% block title %}Caméléon Solutions
{% endblock %}
{% block body %}
	<main>
		<aside>
			<!-- Barre latérale : recherche, catégories, articles récents, etc. -->
		</aside>

		<section class="blog-posts">
			<article class="post-summary">
				<h2>
					<a href="article1.html">Titre de l'Article 1</a>
				</h2>
				<p>Date de publication | Auteur</p>
				<img src="image1.jpg" alt="Image de l'article">
				<p>Extrait ou résumé de l'article...</p>
				<a href="article1.html">Lire la suite</a>
			</article>
			<!-- Répéter pour chaque article -->
		</section>
	</main>


	<section>
		<!-- Liens vers des articles connexes -->
		<a href="article2.html">Titre de l'Article Connexe</a>
		<a href="article2.html">Titre de l'Article Connexe</a>
	</section>
	<section>
		<!-- Formulaire d'abonnement à la newsletter -->
	</section>
	<section>
		<!-- Mentions légales et politique de confidentialité -->
	</section>

{% endblock %}
