/*--------------------------------------------------------------
# Général
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Raleway", serif;
  position: relative;
  height: 100%;
  text-decoration: none;
  list-style: none;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

/* Styles pour les éléments qui apparaissent lors du défilement */
.fade-in {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/*--------------------------------------------------------------
# Navbar 
--------------------------------------------------------------*/
.navbar {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1;
  width: 100%;
  color: white;
}

.navbar-background {
  background-color: #032b35f4;
  border-radius: 10px;
}

.navbar-background .navbar-brand,
.navbar-background .navbar-nav .nav-link {
  color: white;
}

.navbar-background .navbar-nav .nav-link:hover {
  color: rgba(139, 34, 34, 0.8);
}

.navbar.scrolled {
  background-color: rgba(3, 43, 53, 0.7);
  box-shadow: 0 4px 8px rgba(3, 43, 53, 0.2);
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgba(3, 43, 53, 0.8);
}

.navbar .navbar-nav .nav-link {
  font-size: 1.2rem;
  padding: 10px 20px;
  letter-spacing: 0.05rem;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .navbar-nav .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-custom {
  background-color: #032b35f4;
}

/*--------------------------------------------------------------
# Homepage 
--------------------------------------------------------------*/
.custom-navbar .navbar {
  margin: 0;
}

.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1000;
  width: 100%;
  color: white;
  padding: 10px 20px;
}

.hero-section {
  background: linear-gradient(135deg, #032b35, #1b4f5f, #064663);
  background-size: 200% 200%;
  animation: backgroundAnimation 10s ease infinite;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.typing-effect {
  position: absolute;
  left: 60%;
  top: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  flex: 1;
  margin-right: 20px;
}

.line {
  font-size: 2.5rem;
  position: relative;
  font-family: "Raleway Dots", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  width: 0;
  line-height: 3.5rem;
  margin-bottom: 20px;
  animation: typing 3s steps(30, end) forwards,
    blink-caret 0.75s step-end infinite;
}

/* Animation d'écriture pour chaque ligne */
.line:nth-of-type(1) {
  animation-delay: 0s;
}
.line:nth-of-type(2) {
  animation-delay: 3s;
}
.line:nth-of-type(3) {
  animation-delay: 6s;
}
.line:nth-of-type(4) {
  animation-delay: 9s;
}

@keyframes backgroundAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.tagline {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #f5f5f5;
  text-align: center;
  font-style: italic;
}

.typing-effect {
  position: absolute;
  left: 60%;
  top: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  flex: 1;
  margin-right: 20px;
}

.line {
  font-size: 2.5rem;
  position: relative;
  font-family: "Raleway Dots", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  width: fit-content;
  line-height: 3.5rem;
  margin-bottom: 20px;
}

#word {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.5s ease;
  text-decoration: underline;
}

/* Tree container */
#tree-container {
  position: absolute;
  left: 100px;
  top: 55%;
  transform: translateY(-50%);
  width: 25%;
  height: auto;
}

#tree-container svg {
  width: 100%;
  height: auto;
}

#tree-container svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: #ffffff;
  stroke-width: 2;
  animation: draw 5s linear infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/*Scroll down icon*/
.scroll-down-icon {
  position: absolute;
  text-align: center;
  margin-top: 850px;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s;
}

.scroll-down-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.scroll-down-icon i {
  margin: 0;
}

.scroll-down-icon {
  font-size: 2rem;
  color: white;

  cursor: pointer;
}

.scroll-down-icon i {
  font-size: 3rem;
  transition: transform 0.3s ease;
}

.scroll-down-icon:hover i {
  transform: translateY(5px);
}

/* Project */
.project-container {
  padding: 2rem;
  text-align: center;
}

.project-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  color: #333;
  position: relative;
}

.heading-part1 {
  font-size: 2.4rem;
  font-weight: 600;
  position: relative;
  width: 100%;
  white-space: nowrap;
  padding-bottom: 0.7rem;
  left: -3%;
}

.heading-part2 {
  font-size: 1.6rem;
  width: 100%;
  font-weight: 400;
  position: relative;
  white-space: nowrap;
  font-style: italic;
  margin-top: 2.8rem;
  left: -9%;
}

.heading-part1::after {
  content: "";
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  width: 100%;
  border-bottom: 4px solid #032b35f4;
  z-index: 1;
  width: 165%;
}

.project-description {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  margin: 0 auto;
  max-width: 800px;
  text-align: justify;
}

.my-photo {
  max-width: 100%;
  border-radius: 10px;
  margin-left: 30px;
}

/* Listing */
.container-services {
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-service {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title-service::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #032b35;
  margin: 0 auto;
  margin-top: 10px;
}

.listing-container {
  display: flex;
  align-items: center;
}

.timeline {
  display: flex;
  align-items: stretch;
  width: 100%;
}

.content-link {
  position: relative;
  display: flex;
  align-items: center;
  width: 20%;
  margin: 0;
  color: white;
}

.content-box {
  width: 90%;
  padding: 20px;
  background-color: #032b35;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.content-box:hover {
  transform: scale(1.6);
  background-color: #023d4cc1;
}

/* Effet au survol */
.content-link:hover .content-box {
  transform: scale(1.02);
}

/* Styles pour les titres */
.content-box h4 {
  font-size: 1.8rem;
  color: #ffffff;
  margin-bottom: 10px;
}

/* Styles pour les paragraphes */
.content-box p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin: 0;
}

/*popup*/
.popup {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
  background-color: #ffffff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  animation: fadeIn 0.3s ease-out;
}

.popup.active {
  display: block; /* Afficher quand la classe active est ajoutée */
}

.popup-content h4 {
  margin-bottom: 10px;
  color: #333;
}

.popup-content p {
  line-height: 1.5;
  color: #555;
}

.popup-price {
  font-weight: bold;
  color: #032b35;
  margin-top: 10px;
}

.contact-button-popup {
  background-color: #ff5722;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

.contact-button-popup:hover {
  background-color: #e64a19;
}

/* Animation d'apparition */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Label Qualiopi */
.label-round {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -80px;
  margin-left: -26px;
  background-color: #fff;
  border: 2px solid #ccc;
}

.label-round img {
  width: 100%;
  height: auto;
}
/*--------------------------------------------------------------
# ABOUT
--------------------------------------------------------------*/
/* IAM */

.iam-container {
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
}

.iam-image {
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #032b35f4;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*--------------------------------------------------------------
# SERVICES
--------------------------------------------------------------*/
/*Objective */
.container-objective {
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
}

/*Contact*/
.service-contact-section {
  background-color: #f5f5f5;
  padding: 2rem 0;
  text-align: center;
}

.service-contact-section h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.service-contact-section p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.service-contact-section .btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.service-contact-section .btn-primary:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/*Picto*/
.avt_container {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 1.5rem 0;
}

.avt_title {
  padding: 0 4rem;
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.avt_subtitle {
  position: relative;
  top: -0.5rem;
}

/*Contact Form*/
.show {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-page {
  padding: 40px 0;
}

.contact-header {
  margin-bottom: 40px;
}

.contact-header h2 {
  font-size: 2rem;
  color: #032b35;
  transition: color 0.3s;
}

.contact-header h2:hover {
  color: #025c6b;
}

.contact-header p {
  color: #555;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.contact-content .row {
  display: flex;
  justify-content: space-between;
}

.contact-form-wrapper {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.contact-form-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
  color: #032b35;
  margin-bottom: 20px;
}

.contact-form .form-control {
  border-radius: 5px;
}

#contact-button {
  background-color: #032b35;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#contact-button:hover {
  background-color: #025c6b;
  transform: scale(1.05);
}

.contact-info-wrapper {
  background: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info-wrapper h3,
.contact-info-wrapper h4 {
  color: #032b35;
  margin-bottom: 10px;
}

.contact-info-wrapper p {
  color: #555;
  font-size: 1rem;
}

.contact-info-wrapper iframe {
  border-radius: 5px;
  margin-top: 20px;
}

.contact-final-message {
  display: flex;
  align-items: center;
}

.contact-final-message h4 {
  margin-right: 250px;
}
/*--------------------------------------------------------------
# BLOG
--------------------------------------------------------------*/
.card-img-top {
  position: relative;
  overflow: hidden;
}

.card-img-top img {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.card-img-top:hover img {
  transform: scale(1.05);
  opacity: 0.8;
}

.overlay {
  transition: background 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.card-img-top:hover .overlay {
  opacity: 1;
}

.btn-outline-primary {
  transition: background-color 0.3s, color 0.3s;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
}

.login-box {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
  transition: all 0.3s ease;
}

.login-logo {
  width: 80px;
  margin-bottom: 1rem;
}

.login-title {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.login-subtitle {
  font-size: 1rem;
  color: #888;
  margin-bottom: 2rem;
}

.form-control {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #5d8aa8;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #4a7a96;
}

.form-check label {
  font-size: 0.9rem;
  color: #333;
}

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
/*HOMEPAGE TAILLE TABLETTES PAYASAGR*/
@media (max-width: 1024px) {
  .logo {
    width: 8% !important;
  }
  .line {
    font-size: 2rem;
    position: relative;
    left: -25%;
  }

  #tree-container {
    top: 65%;
    left: 38%;
  }

  .scroll-down-icon {
    font-size: 1.8rem;
    padding: 10px;
  }

  .title-services {
    font-size: 2rem;
    margin-bottom: 28%;
    margin-top: 3%;
  }

  .content-box {
    width: 58%;
    max-width: 100%;
    margin-bottom: 100px;
  }
}
/*HOMEPAGE TAILLE TABLETTES PAYASAGR*/
@media (max-width: 900px) {
  .listing-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Utilisation complète de la largeur disponible */
    margin-bottom: 20px;
  }
}

/*HOMEPAGE TAILLE TELEPHONE*/

@media (max-width: 768px) {
  .line h1 {
    font-size: 1.8rem;
  }

  .scroll-down-icon {
    font-size: 1.5rem;
    padding: 8px;
  }

  .scroll-down-icon i {
    font-size: 1.5rem;
  }

  #custom-jumbotron {
    padding: 1.5rem;
  }
}

@media (max-width: 576px) {
  .line {
    font-size: 1.5rem;
  }

  .scroll-down-icon {
    font-size: 1.2rem;
    padding: 6px;
  }

  .scroll-down-icon i {
    font-size: 1.2rem;
  }

  #custom-jumbotron {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .project-heading {
    font-size: 1.5rem;
  }

  .heading-part1 {
    font-size: 1.8rem;
  }

  .heading-part2 {
    font-size: 1.4rem;
  }

  .project-description {
    font-size: 1rem;
  }
}

/*Contact*/
@media (max-width: 768px) {
  .contact-content .row {
    flex-direction: column;
  }
}

/*Picto*/
@media (max-width: 768px) {
  .avt_container {
    flex-direction: column;
    align-items: center;
  }

  .avt_item {
    max-width: 90%;
  }

  .avt_title {
    padding: 0 1rem;
    font-size: 0.9rem;
  }

  .avt_subtitle {
    font-size: 0.8rem;
  }
}

@media (max-width: 480px) {
  .avt_title {
    font-size: 0.8rem;
  }

  .avt_subtitle {
    font-size: 0.7rem;
  }

  .avt_item {
    max-width: 100%;
  }
}

/*Service/contact*/
@media (max-width: 768px) {
  .service-contact-section h2 {
    font-size: 1.5rem;
  }

  .service-contact-section p {
    font-size: 0.9rem;
  }

  .service-contact-section .btn-primary {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
  }
}
