/*--------------------------------------------------------------
# Général
--------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Raleway", serif;
  position: relative;
  height: 100%;
  text-decoration: none;
  list-style: none;
  background-color: #fff;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Playfair Display", serif;
}

/*--------------------------------------------------------------
# Navbar 
--------------------------------------------------------------*/
.navbar {
  margin-top: 35px;
  margin-bottom: 35px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1;
  width: 100%;
  color: white;
}

.navbar-background {
  background-color: #032b35f4;
  border-radius: 10px;
}

.navbar-background .navbar-brand,
.navbar-background .navbar-nav .nav-link {
  color: white;
}

.navbar-background .navbar-nav .nav-link:hover {
  color: rgba(139, 34, 34, 0.8);
}

.navbar.scrolled {
  background-color: rgba(3, 43, 53, 0.7);
  box-shadow: 0 4px 8px rgba(3, 43, 53, 0.2);
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
  color: white;
}

.navbar.scrolled .navbar-brand,
.navbar.scrolled .navbar-nav .nav-link {
  color: white;
}

.navbar .navbar-nav .nav-link:hover {
  color: rgba(3, 43, 53, 0.8);
}

.navbar .navbar-nav .nav-link {
  font-size: 1.2rem;
  padding: 10px 20px;
  letter-spacing: 0.05rem;
}

.navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .navbar-nav .nav-link.active {
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}

.navbar-nav .nav-item {
  margin-right: 15px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer-custom {
  background-color: #032b35f4;
}

/*--------------------------------------------------------------
# Homepage 
--------------------------------------------------------------*/
.custom-navbar .navbar {
  margin: 0;
}

.custom-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  z-index: 1;
  width: 100%;
  color: white;
  padding: 10px 20px;
}

.hero-section {
  background-color: #032b35f4;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: -200px;
  position: relative;
}

.typing-effect {
  position: absolute;
  left: 60%;
  top: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  flex: 1;
  margin-right: 20px;
}

.line {
  font-size: 2.5rem;
  font-family: "Raleway Dots", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid white;
  width: 0;
  line-height: 3.5rem;
  margin-bottom: 20px;
  animation: typing 3s steps(30, end) forwards,
    blink-caret 0.75s step-end infinite;
}

/* Animation d'écriture pour chaque ligne */
.line:nth-of-type(1) {
  animation-delay: 0s;
}
.line:nth-of-type(2) {
  animation-delay: 3s;
}
.line:nth-of-type(3) {
  animation-delay: 6s;
}
.line:nth-of-type(4) {
  animation-delay: 9s;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Tree container */
#tree-container {
  position: absolute;
  left: 100px;
  top: 55%;
  transform: translateY(-50%);
  width: 25%;
  height: auto;
}

#tree-container svg {
  width: 100%;
  height: auto;
}

#tree-container svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: #ffffff;
  stroke-width: 2;
  animation: draw 5s linear infinite;
}

@keyframes draw {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

/* chameleon animate */
#chameleon-container {
  position: absolute;
  right: -10px;
  top: 20%;
  transform: translateY(-50%);
  width: 15%;
  height: auto;
}

#chameleon-container svg {
  width: 100%;
  height: auto;
  opacity: 0.3;
}

#chameleon-container svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke: #ffffff;
  stroke-width: 2;
  animation: draw 5s linear infinite;
}

/* Project */
.project-container {
  margin-top: 40px;
  margin-bottom: 20px;
  position: relative;
}

.project-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
}

/*Objective */
.container-objective {
  margin-top: 60px;
  margin-bottom: 20px;
  position: relative;
}

/*Listing */
.listing-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 80px;
}

.content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.computer-image img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.text-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-box {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
  max-width: 80%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top-left {
  top: -40%;
  left: -45%;
}

.top-right {
  top: -40%;
  right: -20%;
}

.middle-right {
  top: 10%;
  right: -60%;
}

.bottom-right {
  bottom: 10%;
  right: -64%;
}

.bottom-left {
  bottom: 10%;
  left: -64%;
}

.content-box:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.content-link {
  text-decoration: none;
  color: black;
}

.content-link:hover {
  color: black;
}

.container-services h2 {
  text-align: center;
  margin-bottom: 8%;
  margin-top: 3%;
  font-size: 3rem;
}

/*--------------------------------------------------------------
# Scroll down icon
--------------------------------------------------------------*/
.scroll-down-icon {
  position: absolute;
  text-align: center;
  margin-top: 850px;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 10px;
  transition: background-color 0.3s;
}

.scroll-down-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.scroll-down-icon i {
  margin: 0;
}

.scroll-down-icon {
  font-size: 2rem;
  color: white;

  cursor: pointer;
}

.scroll-down-icon i {
  font-size: 3rem;
  transition: transform 0.3s ease;
}

.scroll-down-icon:hover i {
  transform: translateY(5px);
}

#custom-jumbotron {
  padding: 2rem;
  background-color: #f8f9fa;
}

/*--------------------------------------------------------------
# ABOUT
--------------------------------------------------------------*/
/* IAM */

.iam-container {
  margin-top: 40px;
  margin-bottom: 10px;
  position: relative;
}

.iam-image {
  width: 300px;
  height: auto;
  border-radius: 50%;
  border: 5px solid #032b35f4;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*--------------------------------------------------------------
# SERVICES
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media (max-width: 768px) {
  .line {
    font-size: 1.8rem;
  }

  .scroll-down-icon {
    font-size: 1.5rem;
    padding: 8px;
  }

  .scroll-down-icon i {
    font-size: 1.5rem;
  }

  #custom-jumbotron {
    padding: 1.5rem;
  }
}

@media (max-width: 576px) {
  .line {
    font-size: 1.5rem;
  }

  .scroll-down-icon {
    font-size: 1.2rem;
    padding: 6px;
  }

  .scroll-down-icon i {
    font-size: 1.2rem;
  }

  #custom-jumbotron {
    padding: 1rem;
  }
}

@media (max-width: 1084px) {
  #tree-container {
    display: none;
  }
  #Chameleon-container {
    display: none;
  }
}
