<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Cameleon Solutions -
			{% endblock %}
			{% if app.request.attributes.get('_route') != 'homepage' %}
				{{ page_title | default('Bienvenue') }}
			{% endif %}
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Caméléon Solutions : Construisons ensemble des expériences numériques qui comptent ! Spécialisé dans la création de sites web et la formation aux outils numériques, je suis à votre écoute pour des solutions personnalisées. Donnons vie à vos projets !">
		<meta name="keywords" content="Caméléon Solutions, expériences numériques, création de sites web, formation aux outils numériques, solutions personnalisées, développement web, accompagnement numérique">
		<meta name="author" content="Cameleon Solutions">
		<meta name="robots" content="index, follow">
		<meta name="revisit-after" content="7 days">
		<meta name="language" content="fr">
		<meta name="generator" content="Symfony">
		<meta property="og:title" content="Cameleon Solutions">
		<meta name="twitter:card" content="summary_large_image">
		<link rel="icon" type="image/png" href="{{ asset('img/autres/favicon-32x32.png') }}">

		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
		{% endblock %}

		{% block javascripts %}

			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<header>
			{% set isHomepage = app.request.attributes.get('_route') == 'homepage' %}
			{% if not isHomepage %}
				{% include "shared/_navbar.html.twig" with {'navbarClass': 'navbar-background'} %}
			{% endif %}
		</header>

		<main role="main">
			{% block body %}
				{% include "shared/_flash.html.twig" %}
			{% endblock %}
			{% include "shared/_footer.html.twig" %}
		</main>
	</body>
</html>
