<section class="service-contact-section">
	<div class="container-fluid">
		<h2>Contactez-moi pour en savoir plus</h2>
		<p>Vous avez des questions sur mes services ?</p>
		<div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4 gap-2">
			<a href="mailto:contact@cameleon-solutions.fr" class="btn-pdf">
				<span>Envoyer un message</span>
			</a>
			<a href="https://camelonsolutions.youcanbook.me/" class="btn-pdf" target="_blank">
				<span>Prendre un RDV en ligne</span>
			</a>
		</div>

	</div>
</section>
