<section class="service-contact-section">
	<div class="container-fluid">
		<h2>Contactez-moi pour en savoir plus</h2>
		<p>Vous avez des questions sur mes services ?</p>
		<div class="d-flex justify-content-center align-items-center mt-4">
			<button id="contact-button" class="btn btn-custom me-3" type="submit">
				<span>Envoyer le message</span>
			</button>
			<a href="https://camelonsolutions.youcanbook.me/" class="btn btn-custom" target="_blank">
				<span>Prendre un RDV en ligne</span>
			</a>
		</div>
	</div>
</section>
