<section class="service-contact-section">
	<div class="container-fluid">
		<h2>{{ 'contact.title1'|trans }}</h2>
		<p>{{ 'contact.subtitle1'|trans }}</p>
		<div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4 gap-2">
			<a href="mailto:contact@cameleon-solutions.fr" class="btn-pdf">
				<span>{{ 'contact.email_button'|trans }}</span>
			</a>
			<a href="https://camelonsolutions.youcanbook.me/" class="btn-pdf" target="_blank">
				<span>{{ 'contact.appointment_button'|trans }}</span>
			</a>
		</div>
	</div>
</section>
