{% for label, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'flash.close'|trans }}"></button>
			<div class="alert-message">
				{{ message | trans }}
			</div>
		</div>
	{% endfor %}
{% endfor %}
