<!-- Footer -->
<footer
	class="footer-custom text-center text-lg-start ">
	<!-- Grid container -->
	<div
		class="container p-4">
		<!--Grid row-->
		<div
			class="row my-4">
			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<div class=" shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
					<img src="/img/giphy-3--unscreen.gif" height="150" alt="" loading="lazy"/>
				</div>
				<p class="text-center">Créatrice et formatrice dans le developpement web</p>
				<ul class="list-unstyled d-flex flex-row justify-content-center">
					<li>
						<a class="text-light px-2" href="#!">
							<i class="fab fa-facebook-square"></i>
						</a>
					</li>
					<li>
						<a class="text-light px-2" href="#!">
							<i class="fab fa-instagram"></i>
						</a>
					</li>
					<li>
						<a class="text-light ps-2" href="#!">
							<i class="fab fa-youtube"></i>
						</a>
					</li>
				</ul>
			</div>
			<!--Grid column-->

			<!--Grid column-->
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase mb-4">Liens utiles</h5>
				<ul class="list-unstyled">
					<li class="mb-2">
						<a href="}" class="text-light">
							<i class="fa-solid fa-code-commit"></i>
							Mes services
						</a>
					</li>
					<li class="mb-2">
						<a href="" class="text-light">
							<i class="fa-solid fa-code-commit"></i>
							Mes réalisations
						</a>
					</li>
					<li class="mb-2">
						<a href="" class="text-light">
							<i class="fa-solid fa-code-commit"></i>
							Conditions générales de ventes
						</a>
					</li>
					<li class="mb-2">
						<a href="" class="text-light">
							<i class="fa-solid fa-code-commit"></i>
							Mentions légales</li>
					</li>
				</a>
			</li>
		</ul>
	</div>
	<!--Grid column-->

	<!--Grid column-->
	<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		<h5 class="text-uppercase mb-4">Services</h5>
		<ul class="list-unstyled">
			<li class="mb-2">
				<a href="" class="text-light">
					<i class="fa-solid fa-code"></i>
					Création de site web
				</a>
			</li>
			<li class="mb-2">
				<a href="" class="text-light">
					<i class="fa-solid fa-code"></i>
					Créatrice de contenu web
				</a>
			</li>
			<li class="mb-2">
				<a href="" class="text-light">
					<i class="fa-solid fa-code"></i>
					Formatrice en développement web
				</a>
			</li>
		</ul>
	</div>
	<!--Grid column-->

	<!--Grid column-->
	<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
		<h5 class="text-uppercase mb-4">Contact</h5>
		<ul class="list-unstyled">
			<li>
				<p classe="text-light">
					<i class="fas fa-map-marker-alt pe-2 text-light"></i>5110 avenue des pyrénées, 47330 Montauriol
				</p>
			</li>
			<li>
				<p>
					<i class="fas fa-phone pe-2 text-light"></i>+ 33 6 35 42 93 11
				</p>
			</li>
			<li>
				<p>
					<i class="fas fa-envelope pe-2 mb-0 text-light"></i>contact@monsite.fr
				</p>
			</li>
		</ul>
	</div>
	<!--Grid column-->
</div>
<!--Grid row--></div><!-- Grid container --><!-- Copyright --><div class="text-center p-3 copyright">
© 2024 Copyright: VIGNERON</div><!-- Copyright --></footer>
